<tr>
  <td data-label="order-id">{{orderID}}</td>
  <td data-label="customerName">{{customerName}}</td>
  <td data-label="total">{{total}}</td>
  <td>
    <div class="ui positive button details-btn">Show Detail</div>
  </td>
</tr>