<div class="dish">
  <div class="info">
    <div class="dish-name">{{dishName}}</div>
    <div class="seller-name">{{seller}}</div>
    <div class="dish-price">${{price}}</div>
  </div>
  <img src={{imgUrl}} alt="" />
  <div class="checkout-btn-container" data-error="Error">

    <div class="ui compact selection dropdown qty-dropdown">

      <i class="dropdown icon"></i>
      <div class="text">Quantity</div>
      <div class="menu">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
      </div>

    </div>
    <div class="cart-btn ui button blue" tabindex="0">
      Add to cart
    </div>
  </div>
</div>