<div class="dish">
  <div class="info">
    <div class="dish-name">{{dishName}}</div>
    <div class="seller-name">{{seller}}</div>
    <div class="dish-price">${{price}}</div>
  </div>
  <img src={{imgUrl}} alt="" />
  <div class="checkout-btn-container">
    <div class="ui compact selection dropdown">
      <i class="dropdown icon"></i>
      <div class="text">Quantity</div>
      <div class="menu">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
      </div>
    </div>
    <div class="cart-btn ui vertical animated button blue" tabindex="0">
      <div class="hidden content">Add to cart</div>
      <div class="visible content">
        <i class="shop icon"></i>
      </div>
    </div>
  </div>
</div>