<header>
  <nav class="ui menu nav-container">
    <a href="/" class="header item">Browse Dishes</a>
    <a href="#" class="item">About Us</a>
    {{#if showSearchBox}}
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search for dishes" id="nav-search-input" />
        <i class="search icon" id="nav-search-btn"><a href="#"></a></i>
      </div>
    </div>
    {{/if}}

    <a href="/manage-posts" class="item manage-post-btn">
      <button class="positive ui button">Manage posts</button>
    </a>
    <a href="/sell-dish" class="item nav-sell-btn">
      <button class="positive ui button">Sell your dish</button>
    </a>
    <a href="/sign-up" class="item nav-btn-signup">
      <div class="ui primary button">Sign Up</div>
    </a>
    <a href="/admin-portal" class="item">
      <div class="ui button blue">Admin Portal</div>
    </a>
  </nav>
</header>