<header>
  <nav class="ui menu nav-container">
    <a href="index.html" class="header item">Browse Dishes</a>
    <a href="#" class="item">About Us</a>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search for dishes" />
        <i class="search icon"></i>
      </div>
    </div>

    <a href="#" class="item nav-sell-btn">
      <button class="positive ui button">Sell your dish</button>
    </a>
    <a href="./signup.html" class="item nav-btn-signup">
      <div class="ui primary button">Sign Up</div>
    </a>
    <a href="#" class="item">
      <div class="ui button">Log In</div>
    </a>
  </nav>
</header>