<div class="item">
  <div class="ui smaller image">
    <img src={{imgUrl}} />
  </div>
  <div class="content">
    <div class="header">{{dishName}}</div>
    <div class="meta">
      <span class="price">${{price}}</span>
      <span class="quantity">Qty: {{quantity}}</span>
    </div>
  </div>
</div>