<script src="adminPortal.js" defer></script>
<div class="form-container" id="admin-portal-container">
  <h2>
    View orders, sellers or customers information
  </h2>
  <div class="ui top attached tabular menu">
    <a class="active item orders-btn">
      Orders
    </a>
    <a class="item sellers-btn">
      Sellers
    </a>
    <a class="item customers-btn">
      Customers
    </a>

  </div>
  <div class="ui bottom attached segment">
    <table class="ui celled table" id="orders-table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Dish Name</th>
          <th>Quantity</th>
          <th>Customer Name</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      </tbody>

      {{#each orderAdminItems}}
      {{> orderAdminItem}}
      {{/each}}
    </table>
    <table class="ui celled table" id="customers-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>

          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {{#each customerAdminItems}}
        {{> customerAdminItem}}
        {{/each}}
      </tbody>
    </table>

    <table class="ui celled table" id="sellers-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>

          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {{#each sellerAdminItems}}
        {{> sellerAdminItem}}
        {{/each}}
      </tbody>
    </table>
  </div>