<div class="form-container" id="create-dish-container">
  <h2>Create your dish</h2>
  <form class="ui form">
    <div class="field">
      <label>Dish Name</label>
      <input type="text" name="create-dish" placeholder="Dish Name" />
    </div>
    <button class="ui button submit-btn blue" type="submit" style="display: block; margin-top: 1rem;">
      Create Dish
    </button>
  </form>
  <style>
    #create-dish-container {
      width: 500px;
    }
  </style>
</div>