<main class="main-container">
  <div id="dishes">
    {{#each dishes}}
    {{> dish}}
    {{/each}}
  </div>
  <div class="order-container">
    <div class="order">
      <h3>My Order</h3>
      <hr />

      <div class="ui items order-items">

      </div>
      <hr />
      <div id="customerNames" class="ui selection dropdown" tabindex="0">
        <i class="dropdown icon"></i>
        <div class="text" id="customerName">Customer Name</div>
        <div class="menu" tabindex="-1">
          {{#each allCustomers}}
          {{> customerMenu}}
          {{/each}}
        </div>
      </div>
      <div class="ui radio delivery-method">
        <div class="delivery-item">
          <input type="radio" name="deliveryType" checked="checked" id="delivery" value="delivery" />
          <label for="delivery">Free Delivery</label>
        </div>
        <div class="delivery-item">
          <input type="radio" name="deliveryType" id="pickup" value="pickup" />
          <label for="pickup">I'll pick it up</label>
        </div>
      </div>
      <h3 id="order-total">Order Total: $<span id="total">0</span></h3>

      <button id="place-order-btn" class="ui button blue place-order-btn" type="button">Place Order</button>
      <div id="post-result"></div>
    </div>

  </div>
  <div class="notes">
    <h3>How to navigate our website</h3>
    <ul>
      <li>
        This is the home page, where customers will browse for the dish
        the want, then add the quantity and "add to cart" using the button below the photos.
        User can use the search bar to look for dishes.
        Please also choose a customer name and delivery method.
        If users choose "Free Delivery", a random driver will be assigned to the order.
      </li>
      <li>
        After that, customer can click "Place Order" to make the purchase.
        This will INSERT new entries to the "customerOrder" table in the database
      </li>
      <li>
        To perform INSERT into the "Post" table, use the "Sell your dish"
        button
      </li>
      <li>
        To perform INSERT into the "Dish" table, inside the "Sell your
        dish" page, click on "Create a new dish"
      </li>
      <li>
        To perform INSERT into the "customer", "seller", or "driver" table, use the "Sign Up" button
      </li>
      <li>
        To perform UPDATE and DELETE on the "Post" table, click on the
        "Manage Posts" button.
      </li>
      <li>
        To view "Order", "Seller", "Customer", and "Driver" tables, use the "Admin Portal" button.
      </li>
      <li>
        To view the details of an order, click "Show Details" button
      </li>
    </ul>
  </div>
</main>