<main class="main-container">
  <div id="dishes">
    {{#each dishes}}
    {{> dish}}
    {{/each}}
  </div>
  <div class="order-container">
    <div class="order">
      <h3>My Order</h3>
      <hr />

      <div class="ui items order-items">

      </div>
      <hr />
      <h3 id="order-total">Order Total: $<span id="total">0</span></h3>

      <button id="place-order-btn" class="ui button blue place-order-btn" type="button">Place Order</button>
      <div id="post-result"></div>
    </div>

  </div>
  <div class="notes">
    <h3>How to navigate our website</h3>
    <ul>
      <li>
        This is the home page, where customers will browse for the dish
        the want, then add the quantity and "add to cart" using the button below the photos.
      </li>
      <li>
        After that, customer can click "Place Order" to make the purchase.
        This will add new entries to the "Order" table in the database
      </li>
      <li>
        To perform INSERT into the "Post" table, use the "Sell your dish"
        button
      </li>
      <li>
        To perform INSERT into the "Dish" table, inside the "Sell your
        dish" page, click on "Create a new dish"
      </li>
      <li>
        To perform INSERT into the "Customer" or "Seller" table, use the
        "Sign Up" button
      </li>
      <li>
        To perform UPDATE and DELETE on the "Post" table, click on the
        "Manage Posts" button. Only sellers can manage their posts.
        Customers cannot modify their orders
      </li>
      <li>
        To view "Order", "Seller" and "Customer" tables, use the "Admin Portal" button.
      </li>
    </ul>
  </div>
</main>