{{> header}}

<main class="main-container">
  <div class="dishes">
    {{#each dishes}}
    {{> dish}}
    {{/each}}
  </div>
  <div class="order-container">
    <h3>My Order</h3>
    <hr />
    {{!-- {{#if orderItemExists}} --}}
    <div class="ui items order-items">
      {{#each orderItems}}
      {{>orderItem}}
      {{/each}}
    </div>
    <hr />
    <h3>Order Total: ${{total}}</h3>
    {{!-- <div class="total-container"> --}}
    {{!-- {{/if}} --}}
    {{!-- </div> --}}
    <button class="ui button blue place-order-btn">Place Order</button>

  </div>
</main>