<script type="module" src="/managePost.js" defer></script>

<div class="form-container" id="manage-posts-container">
  <h2>Manage your posts</h2>
  {{!-- <div class="ui selection dropdown">
    <i class="dropdown icon"></i>
    <div class="text">Select Seller Account</div>
    <div class="menu">
      <div class="item">Chef Kristin</div>
      <div class="item">Mr. Q</div>
      <div class="item">Chef Ramsey</div>
      <div class="item">Akon</div>
      <div class="item">Bkon</div>
      <div class="item">Ckon</div>
    </div>
  </div> --}}
  <table class="ui blue table post-table">
    <colgroup>
      <col style="width: 200px;" />
      <col style="width: 100px;" />
      <col style="width: 200px;" />
      <col style="width: 100px;" />
    </colgroup>
    <thead>
      <tr>
        <th>Seller name</th>
        <th>Dish</th>
        <th>Price</th>

        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each allPosts}}
      {{> managePostDish}}
      {{/each}}
    </tbody>
  </table>

  <h3 id="update-result"></h3>

</div>