<script src="/sellDish.js" type="module"></script>

<div class="form-container" id="sell-dish-container">
  <h2>Create your post</h2>
  <form class="ui form" id="sell-dish-form">

    <div id="sellerNames" class="ui selection dropdown" tabindex="0">
      <i class="dropdown icon"></i>
      <div class="text">Seller Name</div>
      <div class="menu" tabindex="-1">
        <div class="item">Chef Ramsey</div>
        <div class="item">Ms. Kristin</div>
        <div class="item">Q</div>
      </div>
    </div>
    <div id="dishMenu" class="ui selection dropdown" tabindex="0">
      <i class="dropdown icon"></i>
      <div class="text">Dish Name</div>
      <div class="menu" tabindex="-1">
        <div class="item">Bo Ne</div>
        <div class="item">Broken Rice</div>
        <div class="item">Egg Rolls</div>
        <div class="item">Grilled Pork Vermicelli</div>
        <div class="item">Pho</div>
        <div class="item">Spring Rolls</div>
      </div>
    </div>
    <div class="field input-container">
      <label>Price</label>
      <input required id="price-input" type="text" name="dish-price" placeholder="10.00" />
    </div>
    <div class="field input-container">
      <label>Quantity</label>
      <input required id="qty-input" min="1" type="number" name="quantity" placeholder="1" />
    </div>

    <button class="ui button submit-btn blue" type="submit" style="display: block; margin-top: 1rem;">
      Post My Dish
    </button>
  </form>
  <div id="post-result">

  </div>

  <div class="ui center aligned basic segment">
    <div class="ui horizontal divider">
      Can't find the dish you want to sell?
    </div>
    <a href="/create-dish">
      <div class="ui teal labeled icon button">
        Create new dish
        <i class="add icon"></i>
      </div>
    </a>

  </div>
</div>

<style>

</style>