<script src="/sellDish.js" type="module"></script>

<div class="form-container" id="sell-dish-container">
  <h2>Create your post</h2>
  <form class="ui form" id="sell-dish-form">

    <div id="sellerNames" class="ui selection dropdown" tabindex="0">
      <i class="dropdown icon"></i>
      <div class="text">Seller Name</div>
      <div class="menu" tabindex="-1">
        {{#each allSellers}}
        {{> sellerMenu}}
        {{/each}}
      </div>
    </div>
    <div id="dishMenu" class="ui selection dropdown" tabindex="0">
      <i class="dropdown icon"></i>
      <div class="text">Dish Name</div>
      <div class="menu" tabindex="-1">
        {{#each allDishes}}
        {{> dishMenu}}
        {{/each}}
      </div>
    </div>
    <div class="field input-container">
      <label>Price</label>
      <input required id="price-input" type="text" name="dish-price" placeholder="10.00" />
    </div>

    <input type="file" id="image-upload" required />
    <img id="image-preview" src="/image-placeholder.png" />
    <button class="ui button submit-btn blue" type="submit" style="display: block; margin-top: 1rem;">
      Post My Dish
    </button>
  </form>
  <div id="post-result">

  </div>

  <div class="ui center aligned basic segment">
    <div class="ui horizontal divider">
      Can't find the dish you want to sell?
    </div>
    <a href="/create-dish">
      <div class="ui teal labeled icon button">
        Create new dish
        <i class="add icon"></i>
      </div>
    </a>
  </div>


</div>

<style>

</style>