@import 'sellDish.css';
* {
  /* font-size: 18px; */
}
/* Nav bar */
nav {
  position: sticky;
  top: 0px;
}
.manage-post-btn {
  margin-left: auto;
}

.nav-container {
  padding: 0 5em;
}

/* main grid */
.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* grid-template-rows: minmax(200px, 1fr); */
  padding: 2em 5em;
  gap: 1em;
}

/* Dish grid */

.dishes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2em 2em;
  padding-right: 1em;
}

.dishes img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.dish .info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 1em;
}

.seller-name::before,
.seller-name::after {
  content: '-';
  font-weight: 600;
  font-size: 20px;
  margin: 0 0.5em;
}

.checkout-btn-container {
  display: flex;
  justify-content: space-between;
}

.cart-btn {
  /* background-color: blue; */
  width: 115px;
  margin-right: 0 !important;
}

/* order sidebar */

.smaller.image {
  width: 60px;
  height: 60px;
}

.order-container {
  /* margin-left: 1em; */
}

.place-order-btn {
  display: block;
  width: 100%;
}

.order-container h3 {
  text-align: center;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.3em;
  margin: 1.5em 1em;
}

.order {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1.5em;
}

.notes {
  line-height: 1.7em;
  margin-top: 1.5em;
  border: 1px solid #aaa;
  padding: 1em;
  font-size: 17px;
  border-radius: 5px;
}

/* Utilities */
hr {
  border: 0;
  border-top: solid 1px #555;
}

/* Sign Up Page */
#sign-up-form-container {
  max-width: 500px;
  margin: 5em auto;
  border: 1px solid #ccc;
  padding: 2em;
}

#sign-up-form-container label {
  margin-bottom: 0.5em;
}

.submit-btn {
  display: block;
}

.user-type-btn {
  /* display: block; */
  margin: 1em 0;
}

.user-type-btn input {
  margin: 0.5em 0;
}

/* manage posts */
.post-container {
  max-width: 50%;
  margin: 2em auto;
}

table.post-table {
  /* table-layout: fixed; */
}
.price-input {
  width: 50px;
}

.quantity-input {
  width: 50px;
}

#admin-portal-container {
  max-width: 60%;
  margin: 2em auto;
  padding: 2em;
  border: 1px solid #ccc;
}
